/seam_localization/__pycache__
/seam_localization/output
/seam_localization/checkpoints
/seam_localization/pointcloud_data
/temp_file/


# 忽略所有名为 __pycache__ 的文件夹
**/__pycache__/

# 忽略所有 .pyc, .pyo, .pyd 编译文件
*.py[cod]
*$py.class

/seam_pipeline/checkpoints
